table.resource-daily-chart {
  border-spacing: 0;
  cellpadding: 0;
  margin-left: none;
  margin-right: none;
  text-align: center;
}
table.resource-daily-chart th {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

table.resource-daily-chart tr.odd td {
  border: 1px solid #CCCCCC;
  padding: 0;
}
table.resource-daily-chart tr.even td {
  border: 1px solid #CCCCCC;
  padding: 0;
}
.reservations_checked_in {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background-color: #FFAFAF ;
}
.reservations_checked_out {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background-color: #FFFFAA;
}
.reservations_confirmed {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background-color: none ;
}
.reservations_unconfirmed {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background-color: #F96410 ;
}
.reservations_live {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background-color: #10DDF9 ;
}

table.reservations_internal_grid {
  width: 100%;
  height: 100%;
  font-size: 1.1em;
}


div.field-group-fieldset {
    background-color: #F2F2F2;
    border: 1px solid #E3E3E3;
    border-radius: 6px 6px 6px 6px;
    margin: 1em 0;
    max-width: 100%;
    padding: 1.5em 0 0;
    position: relative;
}

.page-admin-reservations-manage-chart .sticky-header th{
  padding: 0 !important;
  margin: 0 !important;
}


img.reservations_resource_chart_add_img{
  margin-left: .5em;
  margin-right: .5em;
}
