# Ignore .htaccess
/.htaccess*


# Ignore everything in default directory
sites/default/*
sites/default/.*

# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore caches
sites/all/civi-extensions/cache/*
sites/all/civi-extensions/cache/.*
sites/all/civi-extensions/cache/*/*
