
.cm-col {
  margin-bottom: 20px;
  clear: both;
  width: 100%;
}
.cm-column {
  float: left;
  width: 50%;
}
.cm-column .cm-col {
  margin-bottom: 10px;
}
.cm-column.left .inside {
  padding-right: 10px;
}
.cm-column.right .inside {
  padding-left: 10px;
}
