/**
 * @file
 * Navigation Styling
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~SPRITES
***********/
.social-sprite, .social-facebook, .social-instagram, .social-linkedin, .social-rss, .social-twitter, .social-vimeo, .social-youtube {
  background: url('../images/social-scb3fe6f241.png') no-repeat;
}

.social-facebook {
  background-position: 0 -312px;
}
.social-facebook:hover, .social-facebook.facebook_hover, .social-facebook.facebook-hover {
  background-position: 0 -288px;
}

.social-instagram {
  background-position: 0 -24px;
}
.social-instagram:hover, .social-instagram.instagram_hover, .social-instagram.instagram-hover {
  background-position: 0 0;
}

.social-linkedin {
  background-position: 0 -216px;
}
.social-linkedin:hover, .social-linkedin.linkedin_hover, .social-linkedin.linkedin-hover {
  background-position: 0 -192px;
}

.social-rss {
  background-position: 0 -72px;
}
.social-rss:hover, .social-rss.rss_hover, .social-rss.rss-hover {
  background-position: 0 -48px;
}

.social-twitter {
  background-position: 0 -144px;
}
.social-twitter:hover, .social-twitter.twitter_hover, .social-twitter.twitter-hover {
  background-position: 0 -120px;
}

.social-vimeo {
  background-position: 0 -168px;
}
.social-vimeo:hover, .social-vimeo.vimeo_hover, .social-vimeo.vimeo-hover {
  background-position: 0 -96px;
}

.social-youtube {
  background-position: 0 -240px;
}
.social-youtube:hover, .social-youtube.youtube_hover, .social-youtube.youtube-hover {
  background-position: 0 -264px;
}

.channel-icons-sprite, .channel-icons-ch1, .channel-icons-ch2, .channel-icons-ch3, .channel-icons-ch4 {
  background: url('../images/channel-icons-s9c93aa75ec.png') no-repeat;
}

.channel-icons-ch1 {
  background-position: 0 -90px;
}

.channel-icons-ch2 {
  background-position: 0 -30px;
}

.channel-icons-ch3 {
  background-position: 0 0;
}

.channel-icons-ch4 {
  background-position: 0 -60px;
}

/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/*
 * Markup generated by theme_menu_tree().
 */
ul li.expanded {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg==');
  list-style-type: circle;
}

ul li.collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC');
  /* LTR */
  list-style-type: disc;
}

ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; */
  /* Sometimes you want to prevent overlapping with main div. */
}
#navigation .block {
  margin-bottom: 0;
}
#navigation #block-system-main-menu {
  float: left;
}
@media (max-width: 850px) {
  #navigation #block-system-main-menu {
    float: right;
  }
  #navigation #block-system-main-menu .block-wrapper {
    position: relative;
  }
  #navigation #block-system-main-menu .block-wrapper ul {
    position: absolute !important;
    z-index: 500000;
    width: 100%;
  }
}
#navigation .block-menu .block-title,
#navigation .block-menu-block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
#navigation ul.links,
#navigation ul.menu {
  /* Menu block links */
  margin: 0;
  padding: 0;
  text-align: left;
  /* LTR */
}
#navigation ul.links li,
#navigation ul.menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: left;
  /* LTR */
  list-style-type: none;
  list-style-image: none;
}

@media (max-width: 550px) {
  .region-navigation {
    height: 85px;
    float: right;
    width: 65%;
  }
}

/*
 * Main menu and Secondary menu links
 */
#secondary-menu {
  float: right;
  /* LTR */
}

/*
 * Menu blocks
 */
/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
/* DRUPAL TABS */
ul.primary {
  padding: 0;
  border-bottom: none;
}
@media (max-width: 400px) {
  ul.primary {
    border-bottom: none;
  }
}
ul.primary li {
  border: none;
  margin: 0 5px 0 0;
  text-shadow: 0;
}
ul.primary li a:link, ul.primary li a:visited, ul.primary li a:hover {
  text-shadow: 0;
  font-size: 100%;
  padding: 0.2em 1.1em 0.3em 1.2em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFF2F1', endColorstr='#FFB7C4C0');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eff2f1), color-stop(70%, #e6e7e7));
  background: -webkit-linear-gradient(#eff2f1, #e6e7e7 70%);
  background: -moz-linear-gradient(#eff2f1, #e6e7e7 70%);
  background: -o-linear-gradient(#eff2f1, #e6e7e7 70%);
  background: linear-gradient(#eff2f1, #e6e7e7 70%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #d9dbdb;
  color: #555555;
  text-shadow: white 0 1px 0;
}
ul.primary li a:link:hover, ul.primary li a:visited:hover, ul.primary li a:hover:hover {
  text-decoration: none;
}
ul.primary li a:link:hover, ul.primary li a:visited:hover, ul.primary li a:hover:hover {
  background-color: #d9dbdb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #e1e7e5), color-stop(75%, #d9dbdb));
  background: -webkit-linear-gradient(#e1e7e5 3%, #d9dbdb 75%);
  background: -moz-linear-gradient(#e1e7e5 3%, #d9dbdb 75%);
  background: -o-linear-gradient(#e1e7e5 3%, #d9dbdb 75%);
  background: linear-gradient(#e1e7e5 3%, #d9dbdb 75%);
}
ul.primary li a:link:active, ul.primary li a:visited:active, ul.primary li a:hover:active {
  -webkit-box-shadow: #d1d3d3 0 1px 2px inset;
  -moz-box-shadow: #d1d3d3 0 1px 2px inset;
  box-shadow: #d1d3d3 0 1px 2px inset;
}
ul.primary li a:link.disabled, ul.primary li a:link[disabled], ul.primary li a:visited.disabled, ul.primary li a:visited[disabled], ul.primary li a:hover.disabled, ul.primary li a:hover[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #e6e7e7;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul.primary li a:link::-moz-focus-inner, ul.primary li a:visited::-moz-focus-inner, ul.primary li a:hover::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
ul.primary li a {
  color: #333 !important;
}
ul.primary li a.active {
  color: #61aee2 !important;
}
