@charset "UTF-8";
/**
 * @file
 * Sidebars Styling
 *
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~SPRITES
***********/
.social-sprite, .social-facebook, .social-instagram, .social-linkedin, .social-rss, .social-twitter, .social-vimeo, .social-youtube {
  background: url('../images/social-scb3fe6f241.png') no-repeat;
}

.social-facebook {
  background-position: 0 -312px;
}
.social-facebook:hover, .social-facebook.facebook_hover, .social-facebook.facebook-hover {
  background-position: 0 -288px;
}

.social-instagram {
  background-position: 0 -24px;
}
.social-instagram:hover, .social-instagram.instagram_hover, .social-instagram.instagram-hover {
  background-position: 0 0;
}

.social-linkedin {
  background-position: 0 -216px;
}
.social-linkedin:hover, .social-linkedin.linkedin_hover, .social-linkedin.linkedin-hover {
  background-position: 0 -192px;
}

.social-rss {
  background-position: 0 -72px;
}
.social-rss:hover, .social-rss.rss_hover, .social-rss.rss-hover {
  background-position: 0 -48px;
}

.social-twitter {
  background-position: 0 -144px;
}
.social-twitter:hover, .social-twitter.twitter_hover, .social-twitter.twitter-hover {
  background-position: 0 -120px;
}

.social-vimeo {
  background-position: 0 -168px;
}
.social-vimeo:hover, .social-vimeo.vimeo_hover, .social-vimeo.vimeo-hover {
  background-position: 0 -96px;
}

.social-youtube {
  background-position: 0 -240px;
}
.social-youtube:hover, .social-youtube.youtube_hover, .social-youtube.youtube-hover {
  background-position: 0 -264px;
}

.channel-icons-sprite, .channel-icons-ch1, .channel-icons-ch2, .channel-icons-ch3, .channel-icons-ch4 {
  background: url('../images/channel-icons-s9c93aa75ec.png') no-repeat;
}

.channel-icons-ch1 {
  background-position: 0 -90px;
}

.channel-icons-ch2 {
  background-position: 0 -30px;
}

.channel-icons-ch3 {
  background-position: 0 0;
}

.channel-icons-ch4 {
  background-position: 0 -60px;
}

/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* MAIN NODE SIDEBARS */
.sidebar h2, .sidebar h3 {
  margin: .5em 0;
}
.sidebar h4, .sidebar h5, .sidebar p {
  margin: .2em 0;
}
.sidebar h2 {
  font-size: 1.35em;
  text-indent: 0;
}
.sidebar .block {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}
.sidebar .block ul {
  margin: 1em 0;
  padding: 0 0 0 20px;
}
.sidebar .whats-on-now {
  background: #474747;
  padding: 12px;
  color: #949494;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar .whats-on-now h3 {
  font-size: 24px;
  color: #949494;
  text-transform: uppercase;
  margin: 0;
}
.sidebar .whats-on-now .view-sched a {
  font-size: 14px;
  color: white;
}
.sidebar #block-mnn-show-watch-now .whats-on-now {
  padding: 5px;
}
.sidebar #block-mnn-show-watch-now ul {
  margin: 0;
  padding: 0;
}
.sidebar #block-mnn-show-watch-now ul li {
  list-style-type: none;
  list-style-image: none;
  clear: both;
  float: left;
  width: 100%;
  padding: 2px 5px;
  margin: 5px 0;
  background: #f9f9f9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar #block-mnn-show-watch-now ul li .channel-icon {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
}
.sidebar #block-mnn-show-watch-now ul li .channel-icon:before, .sidebar #block-mnn-show-watch-now ul li .channel-icon:after {
  content: '';
  display: table;
}
.sidebar #block-mnn-show-watch-now ul li .channel-icon:after {
  clear: both;
}
.sidebar #block-mnn-show-watch-now ul li .channel-icon:last-child {
  margin-right: 0%;
}
.sidebar #block-mnn-show-watch-now ul li .channel-icon img {
  width: 100%;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 80%;
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 8px;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info:before, .sidebar #block-mnn-show-watch-now ul li .channel-info:after {
  content: '';
  display: table;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info:after {
  clear: both;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info:last-child {
  margin-right: 0%;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info h4 {
  cursor: pointer;
  padding: 5px 0;
  height: 20px;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info h4.collapsed:after {
  content: "▶";
  font-size: 12px;
  position: relative;
  left: 5px;
  color: #474747;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info h4.collapsed.down:after {
  content: "▼";
  font-size: 13px;
  position: relative;
  left: 5px;
  color: #474747;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info h5 {
  clear: both;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info h5 a:hover, .sidebar #block-mnn-show-watch-now ul li .channel-info h5 a:focus {
  color: #61aee2;
  outline: 0 !important;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info .watch-now-link {
  float: left;
  width: 100%;
  margin: 5px 0 0 0;
  border-top: 1px solid #eee;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info .watch-now-link a {
  font-size: 90%;
  padding: 0.2em 1.1em 0.3em 1.2em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF999999', endColorstr='#FF666666');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(70%, #888888));
  background: -webkit-linear-gradient(#999999, #888888 70%);
  background: -moz-linear-gradient(#999999, #888888 70%);
  background: -o-linear-gradient(#999999, #888888 70%);
  background: linear-gradient(#999999, #888888 70%);
  -webkit-box-shadow: #bfbfbf 0 1px 0 inset;
  -moz-box-shadow: #bfbfbf 0 1px 0 inset;
  box-shadow: #bfbfbf 0 1px 0 inset;
  border: 1px solid #7b7b7b;
  color: white;
  text-shadow: #585858 0 -1px 0;
  margin: 10px 0;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info .watch-now-link a:hover {
  text-decoration: none;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info .watch-now-link a:hover {
  background-color: #7b7b7b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #8c8c8c), color-stop(75%, #7b7b7b));
  background: -webkit-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: -moz-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: -o-linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
  background: linear-gradient(#8c8c8c 3%, #7b7b7b 75%);
}
.sidebar #block-mnn-show-watch-now ul li .channel-info .watch-now-link a:active {
  -webkit-box-shadow: #747474 0 1px 2px inset;
  -moz-box-shadow: #747474 0 1px 2px inset;
  box-shadow: #747474 0 1px 2px inset;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info .watch-now-link a.disabled, .sidebar #block-mnn-show-watch-now ul li .channel-info .watch-now-link a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #888888;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sidebar #block-mnn-show-watch-now ul li .channel-info .watch-now-link a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
.sidebar #block-mnn-show-watch-now ul li .channel-about {
  padding: 5px 0;
  margin-bottom: 3px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar #block-mnn-show-watch-now ul li .channel-about .channel-description, .sidebar #block-mnn-show-watch-now ul li .channel-about .cable-channel-list {
  color: #888;
}

/* PANEL SIDEBARS */
