/**
 * @file
 * RTL companion for the tabs.css file.
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~SPRITES
***********/
.social-sprite, .social-facebook, .social-instagram, .social-linkedin, .social-rss, .social-twitter, .social-vimeo, .social-youtube {
  background: url('../images/social-scb3fe6f241.png') no-repeat;
}

.social-facebook {
  background-position: 0 -312px;
}
.social-facebook:hover, .social-facebook.facebook_hover, .social-facebook.facebook-hover {
  background-position: 0 -288px;
}

.social-instagram {
  background-position: 0 -24px;
}
.social-instagram:hover, .social-instagram.instagram_hover, .social-instagram.instagram-hover {
  background-position: 0 0;
}

.social-linkedin {
  background-position: 0 -216px;
}
.social-linkedin:hover, .social-linkedin.linkedin_hover, .social-linkedin.linkedin-hover {
  background-position: 0 -192px;
}

.social-rss {
  background-position: 0 -72px;
}
.social-rss:hover, .social-rss.rss_hover, .social-rss.rss-hover {
  background-position: 0 -48px;
}

.social-twitter {
  background-position: 0 -144px;
}
.social-twitter:hover, .social-twitter.twitter_hover, .social-twitter.twitter-hover {
  background-position: 0 -120px;
}

.social-vimeo {
  background-position: 0 -168px;
}
.social-vimeo:hover, .social-vimeo.vimeo_hover, .social-vimeo.vimeo-hover {
  background-position: 0 -96px;
}

.social-youtube {
  background-position: 0 -240px;
}
.social-youtube:hover, .social-youtube.youtube_hover, .social-youtube.youtube-hover {
  background-position: 0 -264px;
}

.channel-icons-sprite, .channel-icons-ch1, .channel-icons-ch2, .channel-icons-ch3, .channel-icons-ch4 {
  background: url('../images/channel-icons-s9c93aa75ec.png') no-repeat;
}

.channel-icons-ch1 {
  background-position: 0 -90px;
}

.channel-icons-ch2 {
  background-position: 0 -30px;
}

.channel-icons-ch3 {
  background-position: 0 0;
}

.channel-icons-ch4 {
  background-position: 0 -60px;
}

/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
ul.primary li,
ul.secondary li {
  float: right;
}

ul.primary li {
  margin: 0.5em 3px 0 0;
}
