/* $Id: style.css,v 1.13.2.2 2007/01/04 21:19:48 killes Exp $ 
**HTML elements
*/

/*
**Added by Openflows for the MNN project
*/

table.facility-daily-chart {
  border-spacing: 0;
  cellpadding: 0;
  margin-left: none;
  margin-right: none; 
  text-align: center; 
}

table.media_project_progeny {
    border-collapse: collapse;
    background-color: white;
  margin-top: 10px;
}
table.media_project_progeny th {
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    -moz-border-radius: 0px;
}
table.media_project_progeny td {
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    -moz-border-radius: 0px;
}

table.media_project_progeny td.media_project_progeny_blank {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

div.cm_airing_grid {
  text-align: center;
}
table.replication {
  padding: 3;
}
table.cm_airing_grid_header {
  border-spacing: 3;
  margin-left: auto;
  margin-right: auto;
}

table.cm_airing_grid {
  border-spacing: 2;
  padding: 10;
  margin-left: auto;
  margin-right: auto;  
  border-style: solid;  
}
table.cm_airing_grid_bordered {
  border-spacing: 3;
  padding: 10;
  margin-left: auto;
  margin-right: auto;
  border-style: solid
}
table.cm_airing_grid_internal_grid {
  width: 100%;
  height: 100%;
  font-size: 1.1em;
}
tr.cm_airing_grid {
  border: 1px solid #000000;
  padding: 0.1em 0.6em;
}

tr.replication_grey {
  border: 1px solid #000000;
  padding: 0.1em 0.6em;
  background-color: #CCCCCC;
}
tr.no-border {
  border-color: #000000;
  border-style: none none none none;
}
tr.grey-blank {
  border: 1px solid #000000;
  background-color: #CCCCCC;
}
td.replication {  
  border: 1px solid #000000;
  padding: 0.4em 0.6em;
  text-align: left;
  text-wrap: suppress;
}
td.cm_airing_grid_header {
  text-align: bottom;
  border-width: 2;
  border-color: black
  background-color: #FAF0E6
}

td.cm_airing_grid_live {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background: #FFFFAA;
}
td.cm_airing_grid_no_device {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background: #AAFFC0;
}

td.cm_airing_grid_short {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background: #CC9966;
}
td.cm_airing_grid_no_episode {
  text-align: center;
  padding: 0.4em 0.6em;
  background: #FFAFAF;
}

td.cm_airing_grid {
  border: 1px solid #000000;
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;

}
td.cm_airing_grid_data {
  text-align: center;
  padding: 0.4em 0.6em;

}
td.cm_airing_grid_blank {
  border: 1px solid #000000;
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.2em;

}
td.cm_airing_grid_borderless {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.2em;

}
td.cm_airing_grid_blackout {
  border: 1px solid #000000;
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background: #606060;

}

tr.clear {
  border: none;
  padding: 0.1em 0.6em;
  background: none;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}

table.facility-daily-chart th {
  padding-right: 0;
  padding-left: 0;
}

table.facility-daily-chart tr.odd td {
  padding: 0;
  #FIXME re-add this without making the background color of reservations go away
  #background-color: #f3f3f3;
}
table.facility-daily-chart tr.even td {
  padding: 0;
}
.reservations_checked_in {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background-color: #FFAFAF ;
}
.reservations_checked_out {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background-color: #FFFFAA;
}

.reservations_ready {
  text-align: center;
  border-width: 2;
  border-color: black
  padding: 0.4em 0.6em;
  background-color: #AAFFC0;
}

table.reservations_internal_grid {
  width: 100%;
  height: 100%;
  font-size: 1.1em;
}

a.programming-grid {
  display:table-cell;  
  width: 100px;
  height: 25px;
}
a.facilities-grid {
  display:table-cell;  
  width: 25px;
  height: 1px;
}
td.facility-chart-username {
  display:table-cell;
  width: 10px;
  height: 1px;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
}
.calendar .day-selected a {
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}



td.cm_airing_grid_bordered {
  text-align: bottom;
  background-color: #FAF0E6
}

td.unselected-tab {
  white-space: nowrap;
  background: #ccc;
  border-color: #666;
  border-width: 1px;
  border-style: solid solid solid solid;
  margin-right: 0.5em;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
td.selected-tab {
  white-space: nowrap;
  background: #fff;
  border-width: 1px;
  border-style: solid solid solid solid;
  border-bottom:none;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;

}

table.future-res {
  border: 1px solid #000000;
  padding: 0.4em 0.6em;
}

td.future-res {
  border: 1px solid #000000;
  padding: 0.4em 0.6em;
}

.reservations_goto_box {
  padding: 1em;
  width: 20%;
  background-color: #DDD;
}
