/**********
 VOD grid 
**********/

.cm-vods .browse-item {
  float: left;
  width: 11em;
  margin: 0 1.438em 1.563em 0;
  position: relative;
  overflow: hidden;
}
 
.cm-vods .views-field-title {
  font-size: 0.8em;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  padding: 0.313em;
  width: 13.125em;
  line-height: 1.5em;
}    

.cm-vods .views-field-title a {
  color: #fff;
} 