.cma_reservation_cache_chart {
    margin: 20px 20px 50px 0px;
    padding: 10px 40px 40px 40px;
    border-width: thin;
    border-style: solid;
    border-color: black;
    display: inline-block;
    /*overflow: auto;*/
}
.cma_reservation_cache_chart_table {
    display:table;
}
.cma_reservation_cache_chart_header_row {
    display:table-header-group;
}
.cma_reservation_cache_chart_row {
    display:table-row;
}
.cma_reservation_cache_chart_first_header_cell {
    padding: 4px 4px 4px 4px;
    border-width: thin;
    border-style: solid;
    border-color: black;
    text-align: center;
    display:table-cell;
}
.cma_reservation_cache_chart_header_cell {
    padding: 4px 4px 4px 4px;
    border-width: thin;
    border-style: solid;
    border-color: black;
    text-align: center;
    display:table-cell;
}
.cma_reservation_cache_chart_first_cell {
    padding: 4px 4px 4px 4px;
    border-width: thin;
    border-style: solid;
    border-color: black;
    text-align: center;
    
    
    line-height: 1.5em;
    height: 3em;   /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
    
    
}
.cma_reservation_cache_chart_cell {
    padding: 4px 4px 4px 4px;
    border-width: thin;
    border-style: solid;
    border-color: black;
    text-align: center;
    white-space: nowrap;
    display:table-cell;
}
.cma_reservation_cache_chart_res_block_start_cell {
    border-right: 0;
}
.cma_reservation_cache_chart_res_block_middle_cell {
    border-right: 0;
    border-left: 0;
}
.cma_reservation_cache_chart_res_block_end_cell {
    border-left: 0;
}
.cma_reservation_cache_chart_cell a {
    display: block;
    width: 100%;
    height: 100%;
}
.cma_reservation_cache_chart_start_cell a {
    display: block;
    width: 100%;
    height: 100%;
}
.cma_reservation_cache_chart_middle_cell a {
    display: block;
    width: 100%;
    height: 100%;
}
.cma_reservation_cache_chart_end_cell a {
    display: block;
    width: 100%;
    height: 100%;
}