/**
 * @file
 *
 * CM Theme General Styling
 *
 *
 */

/***********
~IMPORTS
***********/
@import "base";
@import "compass/css3/border-radius";
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/***********
~GENERIC
***********/
body {
  color: $greyer;
  @include m-links;
  p {
    margin: 10px 0;
  }
  img {
    display: block;
  }
}
html, body, button, input, select, textarea {
  @include mnnfont-main;
}
h1, h2, h3, h4, h5 {
  @include mnnfont-titles;
  font-weight: 400;
  line-height: 130%;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.10em;
}
h5 {
  font-size: 1.05em;
}
#main {
  clear: both;
}
#page {
  min-width: 300px;
}
.navigation {
  float: left;
  width: 100%;
  padding: 15px 0;
}
@include breakpoint ($breakpoint-small-width) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
    a {
      width: 88%;
    }
  }
}
/***********
~STRUCTURE
***********/

h1 {
  font-size: 190%;
  color: #949494;
}
.wrapper {
  &.header {
  }
  &.footer {
    background-color: $grey;
  }
}
.breadcrumb {
  margin: 0 0 10px 0;
}
/***********
~HEADER
***********/
.region-header {
  clear: none;
}
.wrapper.header {
  #header {
    // padding: 25px 20px;
    position: relative;
    #cm-user-menu {
      float: right;
      margin: 0;
      @include breakpoint ($breakpoint-medium-width) {
        float: none;
        text-align: center;
        margin: 0;
      }
      ul {
        margin: 20px 0 0 0;
        padding: 0;
        li {
          display: inline;
          list-style-type: none;
          margin: 0 0 0 10px;
          a {
            @include sassy-button("matte", 2px, 90%, #777, #666, #fff, "inset");
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
h1#site-name {
 font-size: 2em;
 line-height: .5em;
 margin: 70px 0 0 25px;
  a:link, a:visited {
      color: #ffffff;
  }
}
#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  @include breakpoint ($breakpoint-resp-menu-large) {
    clear: none;
    float: right;
    text-align: center;
    margin: 5px auto 30px auto;
    @include breakpoint ($breakpoint-resp-menu) {
      clear: both;
      position: absolute;
      left: 10px;
      width: 320px;
      float: left;
      text-align: left;
      margin: 10px auto 30px auto;
      top: 60px;
      @include box-sizing(border-box);
    }
  }
  input.form-text {
    border: none;
    border-bottom: 1px solid #8A8A8A;
    width: 160px;
    height: 32px;
    line-height: 32px;
    &:focus {
      box-shadow: none;
      -moz-box-shadow: none;
    }
  }
  input.form-submit {
    text-indent: -9999px;
    background: #FFFFFF url(../images/mnn-search.png) no-repeat center center;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    filter: none;
    padding: 5px 15px;
    width: 30px;
    height: 32px;
    text-shadow: none;
    margin: 0;
  }
}
@include breakpoint ($breakpoint-medium-width) {
  .wrapper.header #header {
    text-align: center;
    padding: 0;
    #logo {
      float: none;
      clear: both;
      display: block;
      padding: 20px;
      margin: 0 auto;
      img {
        margin: 0 auto;
      }
    }
    #name-and-slogan {
      float: none;
      h1 {
        margin: 10px 0;
      }
    }
  }
}

@include breakpoint ($breakpoint-resp-menu) {
  #logo {
    width: 30%;
    @include box-sizing(border-box);
    margin-right: 5%;
    img {
      min-width: 136px;
    }
  }
}

/***********
~SIDEBARS
***********/

aside.sidebars {
  margin: 0;
  .sidebar {
    padding-bottom: 20px;
    h2 {
      font-size: 14px;
      text-transform: uppercase;
      color: $greyer;
      margin: 0;
      clear: both;
    }
    @include breakpoint ($breakpoint-large-width) {
      padding-left: auto;
    }
  }
}

/***********
~CONTENT
***********/
.section-home #page-title {
  display: none;
  height: 0;
  visibility: hidden;
}
#content {
  padding-bottom: 50px;
  width: 100%;
}

.segment-hidden {
  @include element-invisible;
}

#content {
  .column.left {
    width: 70%;
    @include breakpoint($breakpoint-medium-width) {
      width: 100%;
    }
  }
  // end left column
  .column.right {
    width: 30%;
    max-width: 258px;
    float: right;
    @include breakpoint($breakpoint-medium-width) {
      width: 100%;
      float: left;
      max-width: 100%;
      .views-row {
        padding: 12px 0 12px 260px;
        position: relative;
        @include clearfix;
        @include breakpoint($breakpoint-med-small-width) {
          padding: 12px 0;
        }
        .views-field-field-image {
          position: absolute;
          top: 12px;
          left: 0;
          @include breakpoint($breakpoint-med-small-width) {
            position: static;
          }
        }
      }
    }
  }
  // end right column
}

#block-panels-mini-sidebar {
  @include clearfix;
}
/***********
~SOCIAL
***********/
%social {
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
  float: left;
  margin: 4px;
}
.youtube a {
  @include social-sprite(youtube);
  @extend %social;
}
.vimeo a {
  @include social-sprite(vimeo);
  @extend %social;
}
.facebook a {
  @include social-sprite(facebook);
  @extend %social;
}
.twitter a {
  @include social-sprite(twitter);
  @extend %social;
}
.instagram a {
  @include social-sprite(instagram);
  @extend %social;
}
.linkedin a {
  @include social-sprite(linkedin);
  @extend %social;
}

/***********
~FOOTER
***********/

.wrapper.footer {
  border-top: 1px solid #dddddd;
  background: $dark;
  @include clearfix;
  #footer {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size:12px;
    padding: 20px 0;
    position: relative;
    ul.social-footer li a {
      &.drupal {
        background: url("../images/drupal-grey.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: block;
        height: 40px;
        position: relative;
        text-indent: -9999px;
        top: -7px;
        width: 40px;
        &:hover {
          background-position: left -45px;
        }
      }
      &.mip {
        @include mnnfont-titles;
        font-size: 22px;
        color: $dark;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
ul.social-footer {
  @include reset-ul;
  li {
    list-style-type: none;
    float: left;
    margin: 0 5px 0 0;
    a {
     display: block;
     outline: none;
     text-decoration: none;
     i {
      -o-transition:.5s;
       -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      color: $dark;
      font-size: 30px;
        span {
          display: none;
        }
        &:hover {
         color: $blue;
        }
      }
    }
  }
}
@include breakpoint ($breakpoint-medium-width) {
  ul.social-footer {
    margin-top: -10px;
    li {
     display: inline-block;
     float: none;
    }
  }
}
